* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: radial-gradient(#3d3d42, #191a1f);
  height: 100vh;
  font-family: Poppins;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .title {
  font-size: 80px;
  text-shadow: 0 10px 10px #000;
}
.home .author{
  text-align: center;
  padding-top: 20px;
}
.home .des {
  font-size: 22px;
}
.home .selectTime{
  text-align: center;
}
.home select{
  margin: 10px;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  border-radius: 10px;
  border: 4px solid silver;
  background-color: #191a21;
  color: #eee;
}
.btnPlay {
display: block;
margin: 20px auto;
background-color:  #191a21;
color: #eee;
padding: 5px 10px;
font-size: large;
letter-spacing: 5px;
box-shadow: 0 10px 10px #0005;

}
@keyframes showHome {
  to{
    opacity: 1;
  }
}
.home {
  opacity: 0;
  animation: showHome 2s .3s ease-in-out 1 forwards;
}

.playing {
  height: 100vh;
  display: grid;
  width: 800px;
  grid-template-rows: 70% 1fr;
  padding: 50px;
  text-align: center;
  gap: 10px;
  opacity: 0;
  animation: showHome 1s ease-in-out 1 forwards;
}

.playing .list {
  padding: 50px;
  list-style: none;
  text-align: left;
  background-image: linear-gradient(45deg, #5556a0, #ab84b4);
  border-radius: 20px;
  box-shadow: 0 3px 0 #fff;
  overflow: auto;
}

.playing li{
  display: inline-block;
  font-size: x-large;
  padding: 10px;
  text-shadow: 0 2px 2px #0009;
  position: relative;
}

.playing input {
  width: 100%;
  padding: 20px 0;
  outline: none;
  text-align: center;
  font-size: x-large;
  background-color: #0005;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-family: Poppins;

}

.playing li.true {
  color: greenyellow;
}
.playing li.false {
  color: red;
}
.playing li.true::after,
.playing li.false::after {
  position: absolute;
  inset: 0 0 0 0;
  content: '+1';
  text-align: center;
  animation: showPoint .5s linear 1 forwards;
}
.playing li.false::after {
  content: '-1';

}
@keyframes showPoint {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.endGame {
  opacity: 0;
  animation: showHome 1s .3s ease-in-out 1 forwards;
}

.endGame .result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 10px 10px #000;
}
.endGame .number {
  font-size: 50px;
}
